services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      #これがpythonファイルのマウント
      - ./backend/app:/code/app
      #これがDBファイルのマウント
      - ./backend/data:/code/data
    env_file:
      - .env
      - ./backend/.env
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - ./frontend:/code
      - /code/node_modules #コンテナ内のライブラリの保護
    env_file:
      - .env
      - ./frontend/.env